{
  "presets": [
    "stage-1"
  ],
  "plugins": [
    "transform-vue-jsx",
    "syntax-object-rest-spread"
  ],
  "env": {
    "browser": {
      "presets": [
        [
          "env",
          {
            "targets": {
              "browsers": ["last 2 versions", "safari >=7"]
            }
          }
        ]
      ]
    },
    "node": {
      "presets": [
        [
          "env",
          {
            "targets": {
              "node": ["current"]
            }
          }
        ]
      ]
    }
  }
}
